.about__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about__top-background-wrapper {
  min-height: 141px;
  background-image: url("../img/about/image\ 3@1x.jpg");
  margin-bottom: 30px;
}

.about__title h2 {
  @include font(36px, 46px, 400, $first-color);
  text-align: center;

  margin: 0;
  margin-bottom: 30px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.about__title h2.active {
  transform: translate(0, 0);
  opacity: 1;
}

.about__image {
  width: 251px;
  margin: 0 auto 30px;
}

.about__image-wrapper {
  margin-bottom: 30px;
}

.about__image-wrapper p {
  @include font(13px, 18px, 400, $first-color);
  font-style: italic;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.about__image-wrapper p.active {
  transform: translate(0, 0);
  opacity: 1;
}

.about__description {
  width: 80%;
  max-width: 1023px;
  margin: 0 auto;

  @include vp-767 {
    width: 100%;
    margin: 0;
  }
}

.about__description p {
  @include font(18px, 28px, 400, $first-color);
  letter-spacing: 0.05em;
  text-align: center;

  margin: 0;
  margin-bottom: 30px;

  transform: translate(0px, 80%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.about__description p.active {
  transform: translate(0, 0);
  opacity: 1;
}
