.btn {
  @include font(14px, 17px, 400, #d5d5d5);
  text-transform: uppercase;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  vertical-align: text-bottom;
  padding: 10px 0;
  transition: opacity $trans-default;
  outline: none;
  background: linear-gradient(180deg, #a869f0 0, #834cc2 100%);
  border-radius: 20px;
  box-shadow: 0 0 30px #a869f0;
  width: 100px;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  @include vp-767 {
    display: none;
  }
}

.btn span {
  @include font(16px, 19px, 400, #dadada);
}
