.categories-menu {
  position: relative;

  &:hover .categories-menu__list {
    width: 100%;
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transition-delay: 0.1s;
    transition: 0.5s ease-in-out;
  }
}

.categories-menu__list {
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0;
  min-width: 265px;

  visibility: hidden;
  transition: 0.4s ease-in-out;
  z-index: 100;

  background-color: #f6f6f6;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.categories-menu__item {
  &:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
  }

  @include vp-767 {
    position: relative;
  }
}

.categories-menu__item-title {
  @include font(16px, 22px, 400);
  color: #ff8181;
  text-align: center;

  margin: 0;
  padding: 15px 0 15px 0;
  background: linear-gradient(90deg, #332d2d, #182626, #281b1b);
}

.categories-menu__link {
  @include font(12px, 16px, 400, #515151);
  text-transform: uppercase;

  width: 100%;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 20px;
  transform: translateX(0);
  transition: 0.3s ease-in-out;

  &:hover {
    background: linear-gradient(90deg, #332d2d, #182626, #281b1b);
    color: #ff8181;
    transform: translateX(20px);
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 10px;
    height: 50%;
    width: 1px;
    background-color: #ff8181;
  }
  @include vp-767 {
  }
}
