.cooperation__title {
  @include font(46px, 56px, 600, #ff6b6b);
  font-family: "Journalism", "arial", sans-serif;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #dedede;
  width: max-content;
  margin: 0 auto 30px;
}

.cooperation__wrapper-cards {
  padding: 40px 50px;
  min-height: 300px;

  @include vp-767 {
    padding: 20px 0;
  }
}

.cooperation__list-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
  justify-content: center;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.cooperation__item-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e4e1ec;
  min-height: 200px;
  width: 100%;
  box-shadow: -8px 8px 10px #000000, 8px -8px 10px #3c3c3c;
  border-radius: 10px;
}

.cooperation__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.cooperation__card-title {
  @include font(20px, 24px, 700, #5f5959);
  font-family: "Journalism", "arial", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;

  margin: 0;
}
