.download-article {
  background-color: #f4f4f4;
}

.download-article__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.download-article__content-title {
  padding-top: 80px;
}

.download-article__title h2 {
  @include font(36px, 48px, 400, $first-color);
  text-transform: uppercase;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 35px;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.download-article__title h2.active {
  transform: translate(0, 0);
  opacity: 1;
}

.download-article__subtitle p {
  @include font(18px, 26px, 400, $first-color);
  text-align: center;

  width: 60%;
  margin: 0 auto;
  margin-bottom: 35px;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.download-article__subtitle p.active {
  transform: translate(0, 0);
  opacity: 1;
}

.download-article__content-form-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.download-article__content-form {
  width: 43%;
}

.download-article__link-subscribe {
  @include font(10px, 16px, 400, $first-color);
}

.download-article__content-form p {
  @include font(25px, 34px, 400);
  text-align: start;
  width: 64%;
  margin: 0;
}

.download-article__form-wrapper {
  width: 38.8%;
}
