.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include vp-767 {
    width: 155px;
    height: 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
.logo p {
  @include font(18px, 26px, 400, $first-color);
  text-transform: uppercase;

  margin: 0;
}

.logo__text {
  @include font(14px, 18px, 400, #7db142);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
