.menu-toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    top: 0;
    left: 2px;
    width: 24px;
    height: 14px;
    transition-duration: 1s;
    cursor: pointer;
    border: none;
    padding: 24px;
    background: transparent;
    z-index: 20;
  }

  @include focus {
    outline: 1px solid #00c8ff;
  }
}

.wrapper--open-menu + .menu-toggle {
  @include vp-767 {
    display: none;
  }
}

.menu-toggle__line {
  height: 2px;
  width: 24px;
  background: $first-color;
  position: absolute;
  left: 11px;
  transition-duration: 0.25s;
  transition-delay: 0.25s;

  &::before {
    content: "";
    left: 0;
    position: absolute;
    top: -6px;
    height: 2px;
    width: 24px;
    background: $first-color;
    transition: transform 0.25s, top 0.25s 0.25s;
  }

  &::after {
    content: "";
    left: 0;
    position: absolute;
    top: 6px;
    height: 2px;
    width: 24px;
    background: $first-color;
    transition: transform 0.25s, top 0.25s 0.25s;
  }
}

.header__overlay-open .menu-toggle__line {
  transition-duration: 0.1s;
  transition-delay: 0.1s;
  background: transparent;
}

.header__overlay-open .menu-toggle .menu-toggle__line::before {
  transition: top 0.25s, transform 0.25s 0.25s;
  top: 0;
  transform: rotateZ(-225deg);
  background: $first-color;
  width: 25px;
}

.header__overlay-open .menu-toggle .menu-toggle__line::after {
  transition: top 0.4s, transform 0.25s 0.25s;
  top: 0;
  transform: rotateZ(225deg);
  background: $first-color;
  width: 25px;
}
