.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($first-color, 0.9);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 30px 35px;

    @include vp-767 {
      padding: 15px 10px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    padding: 0;
    margin-bottom: auto;

    background-color: transparent;

    @include vp-767 {
      width: 100%;
    }
  }

  &__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    width: 50px;
    height: 50px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;

    @include vp-767 {
      width: 50px;
      height: 50px;
    }
  }

  &__modal__close-btn-icon {
    fill: red;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.is-open-preview {
  transform: scale(1);
  visibility: visible;
  opacity: 1;

  pointer-events: auto;
}

.modal__content-preview {
  background: url("../../img/anim-background/10.png");
}

.modal__up-scroll {
  width: 100px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #607d8b;
  padding: 5px 10px;
  @include font(12px, 16px, 400, #ffeb3b);
}

.modal__article-wrapper {
  width: 800px;
  margin: 0 auto;

  @include vp-1023 {
    width: 71%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.modal__article-title-start,
.modal__article-title-autor {
  @include font(18px, 30px, 400, $second-color);
  color: $second-color;
  width: 500px;
  margin-left: auto;

  @include vp-767 {
    @include font(14px, 24px, 400, $second-color);
    width: 90%;
  }
}

.modal__article-title-start {
  padding-top: 50px;
}

.modal__article-title-autor {
  font-weight: 600;
  display: flex;
  justify-content: end;
  margin-top: 25px;
}

.modal__numbertitle {
  @include font(22px, 28px, 700, #7bdbff);
  text-align: center;
  display: block;
}

.modal__bottom-title {
  @include font(22px, 28px, 600, #7bdbff);
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}

.modal__recept-list {
  margin: 0;
  margin-bottom: 30px;
}

.modal__recept-item {
  @include font(16px, 26px, 400, $second-color);
  color: $second-color;
  text-indent: 10px;
  letter-spacing: 0.03em;
  margin: 0;
  user-select: none;

  &::marker {
    color: #ff3538;
    font-weight: 600;
  }
}

.modal__article-title {
  @include font(36px, 44px, 600, #ff6060);
  font-family: "Journalism", "Arial", sans-serif;
  text-align: center;

  width: 80%;
  padding-top: 70px;
  margin: 0 auto;
  margin-bottom: 5px;

  @include vp-767 {
    @include font(26px, 36px, 600, #ff6060);
    width: 100%;
    letter-spacing: 0.03em;
  }
}

.modal__article-subtitle {
  @include font(18px, 26px, 500, $second-color);
  font-family: "Prata", "Arial", sans-serif;
  text-align: center;

  margin: 0;

  @include vp-767 {
    @include font(16px, 22px, 500, $second-color);
  }
}

.modal__article-content {
  padding-top: 30px;
  margin-bottom: 30px;
}

.modal__article-text-wrapper {
  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.modal__article-content-text {
  @include font(16px, 26px, 500, $second-color);
  font-family: "Prata", "Arial", sans-serif;
  text-align: justify;
  text-indent: 50px;
  letter-spacing: 0.03em;
  margin: 0;
  user-select: none;

  @include vp-767 {
    @include font(14px, 20px, 400, $second-color);
    text-indent: 20px;
    text-align: start;
  }
}

.modal__footer-recept {
  margin-bottom: 30px;
  font-weight: 700;
  color: #cecece;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.modal__footer-advisory {
  @include font(16px, 26px, 400, $second-color);
  margin-left: 40px;
  margin: 0;
}

.modal__article-title-qutor {
  font-weight: 600;
  display: flex;
  justify-content: end;
  color: #cecece;
  margin-bottom: 30px;
}

.modal__article-content-text-preview {
  @include font(18px, 30px, 400, $second-color);
  color: $second-color;
  text-align: justify;
  text-indent: 50px;
  letter-spacing: 0.03em;
  margin: 0;

  @include vp-767 {
    @include font(16px, 22px, 400, $second-color);
    text-indent: 20px;
  }
}

.modal__article-content-text span {
  @include font(16px, 22px, 400, #7db142);
}

.modal__article-text-decription {
  @include font(18px, 30px, 400, $second-color);
  text-align: center;
  color: $second-color;
  letter-spacing: 0.03em;
  margin: 0;

  @include vp-767 {
    @include font(16px, 22px, 400, $second-color);
  }
}

.modal__article-content-text-italic {
  @include font(22px, 30px, 400, $second-color);
  color: $second-color;
  text-align: center;
  margin: 0;
  font-style: italic;

  @include vp-767 {
    @include font(16px, 22px, 400, $second-color);
  }
}

.modal__article-image-gallery {
  display: flex;

  @include vp-767 {
    flex-direction: column;
  }
}

.modal__image-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.modal__image {
  width: 100%;
}

.modal__article-image {
  width: 380px;
  height: 250px;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;

  &--height {
    height: 396px;
  }

  &--contain {
    object-fit: contain;
    margin-bottom: 15px;
  }

  &--fullscreen {
    width: 100%;
    object-fit: contain;
  }

  &--manufacturers-turkey {
    width: 500px;
    height: 100%;
  }

  &--cossaks {
    height: auto;
  }

  &--adventurer {
    height: auto;

    width: 500px;
  }

  &--adventurer-cossaks {
    height: auto;
    min-height: 44vw;
    width: 500px;
  }

  &--bignational-cossaks {
    height: 380px;
  }

  &--sudak {
    width: 560px;
    height: 360px;
  }

  &--triumf-arca {
    width: 560px;
    height: 360px;
  }

  &--big-black4 {
    width: 560px;
    height: 460px;
    object-fit: contain;
  }

  &--big-black4-3 {
    width: 460px;
    height: 330px;
  }

  &--abandoned-pearls-3 {
    width: 365px;
    height: 600px;
  }

  &--labirint {
    width: 100%;
  }

  &--bigsize {
    width: 100%;
    height: 100%;
  }

  &:hover {
    transform: scale(1.5);
  }

  @include vp-767 {
    width: 100%;
    height: auto;

    &:hover {
      transform: scale(1);
    }
  }
}

.modal__article-image-title {
  width: 60%;
  @include font(16px, 22px, 500, #ffeb3b);
  font-family: "Prata", "Arial", sans-serif;
  text-align: center;

  margin: 0 auto 15px;

  @include vp-767 {
    @include font(15px, 20px, 500, #ffeb3b);
    width: 90%;
  }
}

.modal__article-description-list {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 15px;
}

.modal__article-description-item {
  margin: 0;
  color: $second-color;
  text-align: start;
}

.modal__article-end-title,
.next-article {
  display: block;
  text-align: end;
}

.next-article {
  color: $second-color;
  border: 1px solid #4c4c4c;
  display: block;
  text-align: center;
  width: 200px;
  margin-left: auto;
  padding: 10px;
  transition: 0.4s ease-in-out;

  &:hover {
    border: 1px solid #cecece;
    color: #ddb5f7;
  }
}
