.nav__top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 94.5px;

  border-bottom: 1px solid #d9d9d9;

  @include vp-1023 {
    padding: 15px 29.5px;
  }

  @include vp-767 {
    border-bottom: none;
    padding: 0;
  }
}

//main-nav

.nav__bottom-nav {
  padding: 30px 0 15px 0;

  @include vp-767 {
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 100;
    min-height: 100vh;
    width: 100%;
    transition: 0.7s ease-in-out;
    background: linear-gradient(47deg, #3d3e3f, #545044, #343c3c, #18242c);
  }
}

.wrapper--open-mobmenu .nav__bottom-nav {
  @include vp-767 {
    transition: 0.7s ease-in-out;
    top: 0;
    left: 0;
    background: linear-gradient(47deg, #3d3e3f, #545044, #343c3c, #18242c);
    z-index: 3;
    min-height: 100vh;
    width: 100%;
    z-index: 85;
  }
}

.nav__main-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 71.11%;
  margin: 0 auto;

  @include vp-767 {
    flex-direction: column;
    padding-top: 50px;
    width: 90.11%;
  }
}

.nav__main-item {
  &:not(:last-child) {
    margin-right: 30px;
  }

  @include vp-767 {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 20px;
    }
  }
}

.nav__main-link {
  @include font(12px, 16px, 500, $second-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @include vp-767 {
    @include font(14px, 18px, 500, $second-color);
  }
}

.nav__main-link-title {
  text-align: center;
  margin: 0;

  @include vp-767 {
    text-align: start;
  }
}

.nav__main-link-sub-title {
  text-align: center;
  margin: 0;

  @include vp-767 {
    text-align: start;
  }
}
