.promo-gym__container {
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1023 {
    padding-top: 107px;
    padding-bottom: 103px;
  }

  @include vp-767 {
    padding: 64px 0 30px 0;
  }
}

.promo-gym__description {
  display: grid;
  grid-template-columns: 415px auto;
  gap: 22px;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    margin-bottom: 40px;
  }
}

.promo-gym__content {
  padding-left: 60px;
  z-index: 2;

  @include vp-1023 {
    padding-left: 0;
    text-align: center;
  }

  @include vp-767 {
    text-align: inherit;
    padding: 0 15px;
  }
}

.promo-gym__content h2 {
  @include font(48px, 58px, 600);
  letter-spacing: 0.03em;

  margin: 0;
  margin-bottom: 6px;
  padding-top: 39px;

  @include vp-1023 {
    @include font(42px, 49px, 600);

    padding: 2px 15px 0 0;
    margin: 0;
  }

  @include vp-767 {
    @include font(32px, 38px, 600);
    margin-bottom: 5px;
    padding: 0;
  }
}

.promo-gym__content span {
  @include font(18px, 150%, 400);
  font-family: "Roboto Condensed", "Arial", sans-serif;

  display: inline-block;
  vertical-align: middle;
  margin-bottom: 39px;

  @include vp-1023 {
    margin-bottom: 33px;
  }

  @include vp-767 {
    margin-bottom: 24px;
  }
}

.promo-gym__content p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  color: $first-color;

  @include font(16px, 150%, 300);
  margin: 0;
  margin-bottom: 9px;

  @include vp-1023 {
    width: 76%;
    margin: 0 auto;
    margin-bottom: 44px;
  }

  @include vp-767 {
    margin: 0 0 33px 0;
    width: 93%;
  }
}

.promo-gym__content p + p {
  margin: 0;

  @include vp-1023 {
    display: none;
  }
}

.promo-gym__gallery {
  position: relative;
}

.promo-gym__gallery-image {
  margin-left: auto;
  height: 29.3vw;

  @include vp-1023 {
    width: 100%;
    height: 44.8vw;
  }

  @include vp-767 {
    height: 97.8vw;
    margin-bottom: 40px;
  }
}
