.rubrick-list {
  opacity: 0;
  visibility: hidden;
  width: 280px;
  position: absolute;
  z-index: 2;
  background-color: #f4f4f4;
  transition: all 0.3s ease 0.15s;
  box-shadow: 1px 3px 8px #000000;
  border-radius: 5px;
}

.rubrick__item {
  border-bottom: 1px solid #d9d9d9;

  &:hover {
    background-color: #dcdada;
  }
}

.rubrick-link {
  @include font(16px, 19px, 400, $first-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  width: 100%;
}
