.promo-gym__gallery {
  padding: 30px 0;
}

.video {
  position: relative;
  width: 75%;
  height: 430px;
  margin: 0 auto;

  @include vp-1023 {
    height: 56.5vw;
    left: 0;
  }

  @include vp-767 {
    margin: 0 auto;
    width: 100%;
    height: 85.2vw;
    margin-bottom: 40px;
  }
}

.video--enabled {
  cursor: pointer;
}

.video--enabled .video__button {
  display: block;
}

.video__link {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin-bottom: 30px;

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid #0095ff;
  }

  @include hover {
    opacity: 0.8;
  }

  @include active {
    opacity: 0.5;
  }
}

.video__media {
  width: 100%;
  height: 430px;
  border: none;
  object-fit: cover;

  @include vp-1023 {
    height: 56.5vw;
  }

  @include vp-767 {
    height: 85.2vw;
  }
}

.video__button {
  // display: none;
  z-index: 2;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  border: none;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;

  @include vp-1023 {
    width: 73px;
    height: 73px;
  }

  &:focus-visible {
    outline-offset: 2px;
    outline: 1px solid #0095ff;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.5;
  }
}
