.text-article__text {
  @include font(17px, 27px, 400, $second-color);

  text-indent: 50px;
  letter-spacing: 0.03em;
  margin: 0;
  user-select: none;

  @include vp-767 {
    @include font(14px, 20px, 400, $second-color);
    text-indent: 20px;
  }
}

.text-article__detail {
  &--close {
    display: none;
  }
}
