.article-list {
  margin: 0;
  padding: 25px;

  @include vp-767 {
    padding: 15px;
  }
}

.article-list__description-item {
  @include font(18px, 24px, 500, #f9efae);

  @include vp-767 {
    @include font(16px, 20px, 500, #f9efae);
  }
}
