.title-article {
  @include font(46px, 56px, 600, #ff6b6b);
  font-family: "Journalism", "arial", sans-serif;
  letter-spacing: 0.05em;
  border-bottom: 1px solid #dedede;
  width: max-content;
  margin: 0 auto 30px;
}
