// Vendor
// ---------------------------------

@import "vendor/normalize";
// Swiper 7.4.1
@import "vendor/swiper";

// Global
// ---------------------------------

@import "variables";
@import "mixins";
@import "global/fonts";
@import "global/reboot";
@import "global/utils";
@import "global/container";

// Blocks
// ---------------------------------

@import "blocks/btn";
@import "../sass/global/fonts.scss";
@import "blocks/modal";
@import "blocks/modal-preview.scss";
@import "blocks/custom-input";
@import "blocks/custom-toggle";
@import "blocks/custom-select";
@import "../sass/blocks/header.scss";
@import "../sass/blocks/logo.scss";
@import "../sass/blocks/menu-toggle.scss";
@import "../sass/blocks/categories-menu.scss";
@import "../sass/blocks/nav.scss";
@import "../sass/blocks/promo-slider.scss";
@import "../sass/blocks/about.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/categories.scss";
@import "../sass/blocks/recepts/recept.scss";
@import "../sass/blocks/preface.scss";
@import "../sass/blocks/partners.scss";
@import "../sass/blocks/museum.scss";
@import "../sass/blocks/afisha.scss";
@import "../sass/blocks/video-block.scss";
@import "../sass/blocks/federation-boxing.scss";
@import "../sass/blocks/text/article-text.scss";
@import "../sass/blocks/text/article-list.scss";

// ---------------------------------
